<nav class="navbar navbar-glite">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a ui-sref="dashboard.home" class="navbar-logo "><img src="/src/img/logo_foco.png" alt=""></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button ng-click="apagarlista()" type="button" class="btn btn-danger navbar-btn m-r">Apagar Lista no DB</button>
        </li>
      </ul>
    </div>

  </div>
</nav>