<div class="wrapper-md">
  <div class="row t-a-c t-c-w">

    <div class="col-lg-3 m-b">
      <button ui-sref="dashboard.cadastrar" class="btn btn-splg btn-danger btn-lg btn-block"><i class="fa fa-user-plus fa-3 m-b m-t-sm"
          aria-hidden="true"></i><br>Cadastrar</button>
    </div>

    <div class="col-lg-3">
      <button ui-sref="dashboard.pesquisar" class="btn btn-splg btn-danger btn-lg btn-block"><i class="fa fa-search fa-3 m-b m-t-sm"
          aria-hidden="true"></i><br>Pesquisar</button>
    </div>


  </div>



</div>

<div class="modal fade" id="avisoModal" tabindex="-1" role="dialog" aria-labelledby="avisoModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="avisoModalLabel">AVISO</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body">Aviso</div>
      
      <div class="modal-footer" style="text-align: center !important;">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Ok</button>
      </div>


    </div>
  </div>
</div>